body { padding-left: 0; }

@media (min-width: 992px) {
  body { padding-left: 60px; transition: padding-left ease 0.4s; }
  body.side-drawer-open { padding-left: 245px; }
}


#side-drawer {
  position: fixed; left: 0; bottom: 0; top: 0; width: 0; z-index: 10000;
  overflow: hidden;
  background-color: #fff; box-shadow: 0 0 1px rgba(0,0,0,0.5); transition: width ease 0.4s;
}
@media (min-width: 992px) {
  #side-drawer { width: 60px; overflow: visible; }
}
.side-drawer-open #side-drawer { width: 245px; }

/* Navigation toggle */

.totaraNav_prim--toggleNav { display: block; }
.side-toggle-container { padding: 0 0 0 15px; }

#side-drawer .side-toggle-container { display: none; }
.side-drawer-open #side-drawer .side-toggle-container { display: block; position: absolute; top: 0; right: 0; z-index: 100; }
.side-drawer-open #site-header .side-toggle-container { display: none; }

@media (min-width: 992px) {
  #site-header .side-toggle-container { display: none; }
  #side-drawer .side-toggle-container { display: block; padding-top: 10px; }
}


button.side-toggle { border-radius: 0; border: 0 none; background-color: transparent; }
button.side-toggle::before {
  display: inline-block;
  content: "\f0c9";
  font-family: "FontAwesome";
  font-weight: 900;
  color: var(--color-primary);
  font-size: 16px;
}
button.side-toggle:hover, button.side-toggle:focus, button.side-toggle:active { box-shadow: none; }

.side-drawer-open button.side-toggle::before {
  content: "\f053";

}


.totaraNav { box-shadow: none; }

.totaraNav_prim .masthead_logo { padding: 0 15px; }
.totaraNav_prim .masthead_logo--header { margin: 0; }
.totaraNav_prim .masthead_logo--header_img { display: none; }
.side-drawer-open .totaraNav_prim .masthead_logo--header_img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px auto;
}

.totaraNav_prim--list { position: static; }
.totaraNav_prim--list_close { display: none; }

.totaraNav_prim--list_item_label .lbl { display: none; }
.side-drawer-open .totaraNav_prim--list_item_label .lbl { display: inline; }

#site-header { display: flex; flex-direction: row; box-shadow: 0 0 1px rgba(0,0,0,0.5); padding: 10px 0;  }

@media (min-width: 992px) {
  .totaraNav_prim--list_item { display: block; }
  .totaraNav_prim--list_item_label .icon { font-size: 20px; }
  .totaraNav_prim--list_item_label span { padding-left: 7px; }
  .totaraNav_prim--list_item_selected .totaraNav_prim--list_item_label::after { display: none; }
  .totaraNav_prim--list_item_selected .totaraNav_prim--list_item_label .icon { color: var(--nav-tab-border-inner-color-selected); }

  .totaraNav_prim--list_item_link { padding: 10px 20px; }
  .totaraNav_prim--list_item_link:focus .totaraNav_prim--list_item_label::after,
  .totaraNav_prim--list_item_link:hover .totaraNav_prim--list_item_label::after {
    display: none;
  }
  .navExpand--listSecond { left: 18px; }
  .side-drawer-open .navExpand--listSecond { left: 50px; }
}