{{> theme_enoventura/side_drawer_toggle }}

<div class="totaraNav_prim--side">

  {{! Admin mega menu }}
  {{#masthead_quickaccessmenu}}{{> totara_core/quickaccessmenu }}{{/masthead_quickaccessmenu}}

  <div class="totaraNav_prim--side__separator"></div>

  {{! Language button here }}
  {{#masthead_lang}}{{> totara_core/masthead_lang }}{{/masthead_lang}}

  {{! mail & alert button }}
  {{#masthead_plugins}}{{> totara_core/masthead_plugins }}{{/masthead_plugins}}

  {{! User menu / login }}
  {{#masthead_usermenu}}{{> totara_core/masthead_usermenu }}{{/masthead_usermenu}}
</div>